<tr>
    <td><%= student.lastfirst %></td>
    <td>
        <div class="custom-control custom-switch">
            <input type="checkbox" 
                class="custom-control-input"
                name="students[<%= iter %>][breakfast]" 
                id="student-<%= iter %>"
                value="1"
            />
            <label for="student-<%= iter %>" class="custom-control-label"></label>
        </div>
        <div class="form-group">
            <% Object.keys(student).forEach(function(key){ %> 
                <% if (key.substring(0, 1) !== '_') { %>
                    <input 
                        type="hidden" 
                        name="students[<%= iter %>][<%= key %>]"
                        value="<%= student[key] %>"
                    /> 
                <% } %>
            <% }) %>
        </div>
    </td>
</tr>